body{
margin: 0px;
padding: 0px;
background-color: black;
color: white;
margin: 0px;
padding: 0px;
font-family: 'Courier New', Courier, monospace;


}

/* Barre de navigation et vidéo d'itrodction */


nav{
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
   
  
}    
.Menu{
    list-style-type: none;
    justify-content: space-between;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    justify-content: space-around;
    text-align: center;
    display: flex; /* Utilisation de flexbox */
    justify-content: center; /* Centrage horizontal du menu */
    gap: 50px;
    background: rgba(0, 0, 0, 0.5); /* Couleur de fond du menu */
    border-radius: 50px; /* Coins arrondis */
    border: #B1B1B1 solid;
    line-height: 25px;
    padding: 25px;
    position: sticky; /* pour que le menu ne soit pas recouvert*/
    z-index: 1000;
    
    
}
.Menu a:hover {
    color: #968b84; /* Couleur du texte au survol */
    background-color: #dddddd00; /* Couleur de fond au survol */
    border-radius: 5px; /* Coins arrondis au survol */
}
a{
    text-decoration: none; 
color: white;
 }
.shavkat{
width: 100%;
height: auto;
}

.freeze{
    width: 950px; 
    height: 250px; 
    top: 50%; /* Centré verticalement */
    left: 50%; /* Centré horizontalement */
    transform: translate(-50%, -50%); /* Ajuste pour que le point central de l'image soit au centre du conteneur */
    opacity: 0.8;
    position: absolute;
}

/*  Fin de la barre de navgation et de la vidéo d'introduction */

.freeze_corleone{
    background-color: rgb(0, 0, 0);
    height: auto;
    background-image: url('../Media/fond_section.png');
    background-attachment: fixed; /* Maintient le fond fixe lors du défilement */
    background-position: center;  /* centre les images */
    padding: 20px;
}
.six{
    background: rgba(0, 0, 0, 0.90);
    font-size: xx-large;
    width: 750px;
    height: 750px;
    text-align: center;
    z-index: 100;
    position: relative;
    left: 750px;
}
.six-image{
    width:750px;
    height: 750px;
    right: 750px;
    top: 0px;
    margin-right: 5px;
    z-index: 100;
    position: absolute;
   }


.corleone{
    background: rgba(0, 0, 0, 0.90);
    font-size: xx-large;
    width: 750px;
    height: 750px;
    text-align: center;
    position: relative;
    left: 750px;

    
}

.frz{
    width:750px;
    height: 750px;
    right: 750px;
    top: 0px;
    margin-right: 5px;
    z-index: 100;
    position: absolute;
}
.Zuukou{
    background: rgba(0, 0, 0, 0.90);
    font-size: xx-large;
    width: 750px;
    height: 750px;
    text-align: center;
    position: relative;
    left: 750px;

}


.zuk{
    width:750px;
    height: 750px;
    right: 750px;
    top: 0px;
    margin-right: 5px;
    z-index: 100;
    position: absolute;
    
}
.corleone, .Zuukou, .six {
    left: 50%;

}

/* Bas de page */

.bas{
background-color: black;
height: auto;
}
.liens-bas {
display: block;
list-style-type: none;
justify-content: space-between;
font-size: x-large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
top: auto;

}
.liens-bas a{
margin-bottom: 20px;
}
.liens-bas a:hover {
 color: rgb(66, 66, 66);
}


.réseaux{
display: flex;
justify-content: left;
list-style-type: none;
position:  relative;
}


.réseaux img{

    margin: 5px;
}

.insta{
height: 35px;
}
.spotify{
height: 40px;
}
.youtube{
height: 35px;
}

/* .trois{ 
position: relative;
height: 100px;
left: 50%;
top: 50%; /* Centrer verticalement 
    transform: translate(-50%, -50%); /* Ajuster pour centrer correctement */



